.mainDiv {
  margin-top: var(--container-top-margin);
  margin-bottom: 10px;
  padding: 25px 0px;
  border-top: 2px solid var(--description-color);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.subDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subDiv a {
  color: var(--footer-link);
  transition: all 0.3s ease;
}

.subDiv a:hover {
  color: var(--heading-1-color);
  text-decoration: underline;
}

.credits {
  grid-column: 3/-1;
  color: var(--footer-link);
  font-weight: 300;
  text-align: right;
}

@media only screen and (max-width: 598px) {
  .mainDiv {
    gap: 20px 10px;
    margin-bottom: 0px;
    grid-template-columns: 1fr;
  }
  .credits {
    grid-column: auto / auto;
  }
}
