.wrap {
  margin-top: 25px;
}

.title {
  color: var(--heading-3-color);
  font-size: 25px;
}

.techWrap {
  margin-top: 10px;
  color: var(--subheading-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.techItemWrap {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(95px, auto));
  align-items: center;
  gap: 10px;
}

.techItem {
  font-size: 14px;
  font-weight: normal;
  background: var(--tech-background);
  padding: 3px 15px;
  border-radius: 15px;
  text-align: center;
  color: var(--tech-color);
  white-space: nowrap;
}

.description {
  margin-top: 15px;
  color: var(--description-color);
  line-height: 25px;
  max-width: 600px;
}

.linkDiv {
  margin-top: 15px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .techWrap p:first-child {
    align-self: start;
  }
}
