:root {
  --primary: #bc0735;
  --secondary: #8b0c2c;
  --background: #f9fafb;
  --active-link: #222;
  --link: #444;
  --theme-changer-background: #e0e0e0;
  --heading-1-color: #000;
  --heading-3-color: #111;
  --subheading-color: #333;
  --description-color: #444;
  --custom-link: #666;
  --footer-link: #444;
  --tech-background: #dcdcdc;
  --tech-color: #000;
}

[data-theme='dark'] {
  --background: #111;
  --active-link: #fff;
  --link: #888;
  --theme-changer-background: #555;
  --heading-1-color: #fff;
  --heading-3-color: #fff;
  --subheading-color: #eaeaea;
  --description-color: #888;
  --custom-link: #999;
  --footer-link: #888;
  --tech-background: #000;
  --tech-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: var(--background);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(188, 7, 53, 1) 50%,
    rgba(188, 7, 53, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
