.container {
  max-width: 760px;
  /* min-width: 760px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.container h1 {
  color: var(--heading-1-color);
}

.subheading {
  color: var(--subheading-color);
  margin-top: 5px;
}

.description {
  color: var(--description-color);
  margin-top: 30px;
  line-height: 25px;
  max-width: 650px;
}

.ctaDiv {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 20px;
}

.downloadCVButton {
  background-color: var(--primary);
  border: 2px solid transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.downloadCVButton:active {
  background-color: var(--secondary);
}

.featuredProjectDiv {
  margin-top: 60px;
}

.goToProjects {
  margin-top: 15px;
}

.labDiv {
  margin-top: 60px;
}
