.container {
  max-width: 760px;
  /* min-width: 760px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.container h1 {
  color: var(--heading-1-color);
}

.subheading {
  color: var(--subheading-color);
  margin-top: 5px;
}

.description {
  color: var(--description-color);
  margin-top: 30px;
  line-height: 25px;
  margin-right: 15%;
}

.ctaDiv {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 20px;
}

.featuredProjectDiv {
  margin-top: 60px;
}
