.container {
}

.container h1 {
  color: var(--heading-1-color);
}

.subheading {
  color: var(--subheading-color);
  margin-top: 5px;
}

.projectsDiv {
  /* margin-top: 35px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.goToAboutButton {
  margin-top: 15px;
}
