.heading {
  color: var(--heading-1-color);
}

.subheading {
  margin-top: 5px;
  color: var(--subheading-color);
  line-height: 25px;
}

.codeWrap {
  margin-top: 15px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 598px) {
  .codeWrap {
    grid-template-columns: 1fr;
    margin-bottom: -30px;
  }
}
