.container {
  max-width: 760px;
  /* min-width: 760px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.heading {
  color: var(--heading-1-color);
}

.subheading {
  margin-top: 5px;
  color: var(--subheading-color);
  line-height: 25px;
}

.codeWrap {
  margin-top: 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
